button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
}

button.red {
  color: red;
}

button.blue {
  color: blue;
}
