# Dependencies #
################
node_modules/

# dotenv environment variables files #
######################################
.env
.env.*

# Logs #
########
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Notes
__ignore__/

# Production #
##############
build/

# Windows & Mac file caches #
#############################
.DS_Store
Thumbs.db
ehthumbs.db
