.table {
  width: 500px;
  height: 300px;
  height: 100%;
  border-collapse: collapse;
}

.table-body {
  color: rgb(91, 70, 54);
}

.table-head-item {
  padding: 6px 12px;
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
}

.table-row.green {
  background: rgb(220, 240, 197) none repeat scroll 0 0;
}
.table-row.yellow {
  background: rgb(250, 249, 197) none repeat scroll 0 0;
}
.table-row.red {
  background: rgb(243, 223, 223) none repeat scroll 0 0;
}

.table-row {
  margin-bottom: 4px;
}

.table-row .table-item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.table-row .table-item:last-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.table-item {
  overflow: hidden;
  padding: 12px;
  height: 18px;
  font-size: 14px;
  line-height: 24px;
  text-overflow: ellipsis;
  text-align: left;
}

.table-row--active {
  font-size: 30px;
  color: #fff;
  background: #4990e2;
}
