html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

html {
  font-size: 16px;
}

body {
  background: rgb(244, 236, 216);
  font-family: helvetica;
  color: rgb(91, 70, 54);
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
}

.stretch-flex {
  align-self: stretch;
}
