html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

html {
  font-size: 16px;
}

body {
  background: #80800017;
  font-family: courier, monospace;
  font-size: 20px;
}

.text {
  padding: 10px;
}

.bold {
  font-weight: 600;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
}

.stretch-flex {
  align-self: stretch;
}

#chart-container {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 400px;
}
