html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

html {
  font-size: 16px;
}

body {
  background: #80800017;
  font-family: helvetica;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
}

.stretch-flex {
  align-self: stretch;
}
