
.table {
  font-size: 22px;
  padding: 0;
  font-family: courier, monospace;
  border-collapse: collapse;
  width: 100%;
}

.table-row {
  border: 1px dotted #ccc;
  
}

.table-row,
.table-head-item,
.table-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding: 10px;
  text-transform: capitalize;
  background-color: #f0f0f0;
}
.table-row .table-head-item:first-child,
.table-row .table-item:first-child {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
}
